[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"

[packages]
PyYAML = "*"
ipdb = "*"
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3"
